---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/Next.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Next.astro";
import LinkButton from "./LinkButton.astro";
import React from "./icons/React.astro";
import Django from "./icons/Django.astro";
import TypeScript from "./icons/TypeScript.astro";
import MaterialUI from "./icons/MaterialUI.astro";
import SQL from "./icons/SQL.astro";
import AWS from "./icons/AWS.astro";
import JavaScript from "./icons/JavaScript.astro";
import HTML from "./icons/HTML.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: React,
  },
  DJANGO: {
    name: "Django",
    class: "bg-[#003159] text-white",
    icon: Django,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#003159] text-white",
    icon: TypeScript,
  },
  MATERIALUI: {
    name: "Material UI",
    class: "bg-[#003159] text-white",
    icon: MaterialUI,
  },
  SQL: {
    name: "SQL",
    class: "bg-[#003159] text-white",
    icon: SQL,
  },
  AWS: {
    name: "AWS",
    class: "bg-[#003159] text-white",
    icon: AWS,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#003159] text-white",
    icon: JavaScript,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#003159] text-white",
    icon: HTML,
  },
};
const PROJECTS = [
  {
    title: "Pick - Motorcycle Credit Platform",
    description:
      "A platform for motorcycle credit applications, allowing users to customize their credit options, create installment plans, calculate late fees, and process payments through various methods such as PayU, dLocal, and Wompi. Includes email notifications.",
    image: "img/capture_pick.png",
    tags: [
      TAGS.REACT,
      TAGS.DJANGO,
      TAGS.TYPESCRIPT,
      TAGS.MATERIALUI,
      TAGS.SQL,
      TAGS.AWS,
    ],
    github: null,
    link: null,
  },
  {
    title: "Asodatos - Loan Application Platform",
    description:
      "A platform for loan applications, including the development of the entire frontend structure. Integrated with Asodatos API, allowing for the creation of quotes, partnerships, and manager profiles. Supports multiple payment methods and email notifications.",
    image: "img/capture_asodatos.png",
    tags: [TAGS.REACT, TAGS.DJANGO, TAGS.TYPESCRIPT, TAGS.MATERIALUI, TAGS.SQL],
  },
  {
    title: "DentiSalud - Dental Treatment Platform",
    description:
      "A platform for managing dental treatments, including the registration of professionals, assignment of treatments, creation of quotes, statistics, report generation, submission of reports to DIAN, and issuance of invoices and receipts.",
    image: "img/capture_dentisalud.png",
    tags: [TAGS.REACT, TAGS.DJANGO, TAGS.TYPESCRIPT, TAGS.MATERIALUI, TAGS.SQL],
  },
  {
    title: "NUVOLIS - Sales Management Platform",
    description:
      "A platform for managing course sales to schools across Latin America. Features include product creation, customer and vendor management, invoice and receipt generation, report creation, payment systems, and email notifications.",
    image: "img/capture_nuvolis.png",
    tags: [
      TAGS.REACT,
      TAGS.DJANGO,
      TAGS.TYPESCRIPT,
      TAGS.MATERIALUI,
      TAGS.SQL,
      TAGS.AWS,
    ],
  },
  {
    title: "Chat GPT LOCAL - A Local Chat Bot",
    description:
      "A scalable local chatbot for various projects. Uses web-llm and your GPU to download the model, allowing users to ask questions and receive responses.",
    image: "img/capture_bot.png",
    tags: [TAGS.HTML, TAGS.JAVASCRIPT],
    link: "https://chat-gpt-local-chi.vercel.app/",
    github: "https://github.com/DuanLizcano/chat_gpt_local",
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              loading="eager"
              alt="captures"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400 text-aling:fixed">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
